.hdt-collection-product-row--table .hdt-card-product__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hdt-collection-product-row .hdt-card-product__title-cell .hdt-card-product__title-wrapper {
    display: flex;
    align-items: flex-start;
}

.hdt-collection-products-list-mb .hdt-card-product__title-wrapper {
    display: flex;
    align-items: flex-start;
}
