*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --icon-size: 29px;

  --fc-sans: #20163F;
  --bgc-main: #20163F;
}

@media (min-width: 768px) {
  :root {
    --icon-size: 48px;
  }
}
